body {
  background: pink;
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  border: 2px solid green;
}

.nav-left {
  border: 2px solid green;
}

.nav-right {
  border: 2px solid green;
  width: 80%;
}

ul {
  border: 2px solid green;
  padding: 0;
  list-style-type: none;
}

li {
  border: 2px solid green;
}

header {
  border: 2px solid orange;
}

#duck {
  border: 2px solid yellow;
}
#duck .text,
#duck .duck-image {
  width: 50%;
}

#duck img {
  width: 100%;
}

.text {
  border: 2px solid yellow;
}

.text p {
  border: 2px solid yellow;
}

.duck {
  border: 2px solid yellow;
}

#emergency {
  border: 2px solid blue;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
.grid-container {
  border: solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  width: 80%;
}

.grid-item {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

footer {
  border: 2px solid red;
  text-align: center;
}
footer form {
  width: 100%;
  align-items: center;
  row-gap: 1rem;
}

footer form input,
footer form textarea {
  width: 439px;
  max-width: 100%;
}

.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.p40 {
  padding: 40px;
}

/* ABSTRACTION */
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

/* DRY dont repeat yourself */

/* VIEWPORT SIZE */
@media screen and (max-width: 600px) {
  body {
    font-size: 2em;
  }
}
